* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 10%;
}

body {
  font-family: "Almarai", sans-serif;
}

/* Spacial Rules */

main {
  background-color: #d5b9b2;
  position: relative;
  overflow: hidden;
  height: 100vh;
  perspective-origin: center center;
  perspective: 400px;
  scroll-behavior: smooth;
}
.quick-step-guide {
  color: #462a40;
  padding-top: 15px;
  text-align: center;
}
.quick-step-guide h2 {
  font-size: 2rem;
  font-weight: 700;
}
p {
  line-height: 175%;
  font-weight: 400;
  font-size: 1.25rem;
}

img.logo {
  visibility: hidden;
  width: 54.77px;
  height: 25px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform-origin: center center;
}

/* Footer Styles  */
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
  background: hsl(12, 29%, 90%);
}
footer nav {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
footer h3{
  font-size: 15px;
}

footer a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  row-gap: 3px;
  height: 100%;

  & span {
    color: hsl(313, 25%, 30%);
  }
}
footer a:hover {
  & svg,
  svg path.w-circle,
  svg path.w-logo,
  & span {
    fill: black;
    color: black;
  }
}
footer nav svg,
path.w-circle,
svg path.w-logo {
  width: 25px;
  height: 25px;
  fill: hsl(313, 25%, 30%);
}

/* When you set the animation time , you should ensure to quality the total of logo and h2 in All Media Queries */
/* Mobile Screen */
@media (max-width: 360px) {
  body {
    height: 100vh;
  }
  img.logo {
    width: calc(54.77px * 2.5);
    height: calc(25px * 2.5);
    animation: logo 4s ease-in 0.5s;
  }
  .quick-step-guide {
    & h2 {
      font-size: 24px;
      animation: quote 4.6s ease-in;
    }
    & p {
      animation: quote 5s ease-in;
    }
  }
  footer {
    animation: quote 10s ease-in;
  }
  nav a span{
    font-size: 15px
  };
}

/* Tablet Screen */
@media (min-width: 361px) and (max-width: 768px) {
  body {
    height: 100vh;
  }
  img.logo {
    width: calc(54.77px * 3);
    height: calc(25px * 3);
    animation: logo 4s ease-out 0.5s;
  }
  .quick-step-guide {
    & h2 {
      animation: quote 4.6s ease-in;
    }
    & p {
      animation: quote 5s ease-in;
      font-size: 24px;
    }
  }
  footer {
    animation: quote 10s ease-in;
    & h3 {
      font-size: 24px;
    }
    & nav svg,
    & path.w-circle,
    & svg path.w-logo {
      width: 32px;
      height: 32px;
    }
    & a span,& h3{
      font-size:19px ;
    }
  }
}

/* Desktop Screen */
@media (min-width: 769px) {
  body {
    height: 100vh;
  }
  img.logo {
    width: calc(54.77px * 6);
    height: calc(25px * 6);
    animation: logo 4s ease-out 0.5s;
  }
  .quick-step-guide {
    & h2 {
      animation: quote 4.6s ease-in;
    }
    & p {
      animation: quote 5s ease-in;
      font-size: 28px;
    }
  }
  footer {
    animation: quote 10s ease-in;
    & h3 {
      font-size: 28px;
    }
    & nav svg,
    & path.w-circle,
    & svg path.w-logo {
      width: 40px;
      height: 40px;
    }
    & a span,& h3{
      font-size:24px ;
    }
  }
}

@keyframes logo {
  0% {
    visibility: visible;
    /* backdrop-filter: blur(10px); */
    transform: translate3d(-50%, 800%, 0px);
    opacity: 0.1;
  }
  30% {
    opacity: 0.7;
    /* backdrop-filter: blur(30px); */
    transform: translate3d(-50%, -75%, 50px);
  }
  50% {
    transform: translate3d(-50%, -50%, 0px);
    /* backdrop-filter: blur(0); */
    opacity: 1;
  }
  100% {
    transform: translate3d(-50%, -50%, 400px);
  }
}

@keyframes quote {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
    /* color: white; */
  }
  100% {
    /* backdrop-filter: blur(20px); */
    opacity: 1;
  }
}
